

.title{
    font-size: 40px;
    font-weight: bolder;
    font-style: oblique;
}

.fontLucida{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.font18{
    font-size: 18px;
}
.font20{
    font-size: 20px;
}

.hover:hover{
    color: crimson;
}

.bgColor:hover{
    background-color: rgb(107, 189, 189);
}

.cursorP{
    cursor: pointer;
}

.cursorDef{
    cursor: default;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 100px;
}

.newsCard{
    margin-bottom: 30px;
}

.line{
    display: flex;
    justify-content: start;
    margin-top: -30px;
}

.unLine{
    display: flex;
    justify-content: end;
}

.titleNews{
    display: flex;
    justify-content: start;
    margin-top: -16px;
}

.menuDisplay{
    z-index: 100;
}

.font16{
    font-size: 16px;
}

.color1{
    color: rgb(240, 222, 102);
    transition: color 0.6s ease-in-out;
}

.color2{
    color: gold;
}

.color3{
    color:rgb(240, 246, 78);
}

.color4{
    color: bisque;
}

.noView{
    display: none;
}

.viewCss{
    display: block;
}

.colorLink{
    color: cornflowerblue;
}

.summer{
    color:rgb(240, 222, 102);
}

.winter{
    color: cornflowerblue;
}

.calcFuel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggleSeason{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.radio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summerIcon{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-image: url("../image/solntse_h373qh6ryb22_32.png");
}

.winterIcon{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-image: url("../image/snezhinka_yzunxmqvm6nm_32.png");
}

.garageIcon{
    width: 60px;
    height: 60px;
    background-image: url("../image/garazh.svg");
}

.serviceIcon{
    width: 60px;
    height: 60px;
    background-image: url("../image/service.svg");
}

.infoIcon{
    width: 60px;
    height: 60px;
    background-image: url("../image/rukovodstvo.svg");
}

.input{
    width: 40px;
}

.resFuel{
    width: 60px;
    height: 40px;
    font-size: 22px;
    color: rgb(160, 228, 57);
    margin-left: 5px;
    margin-right: 5px;
}

.request{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cardVehicle{
    color: rgb(206, 206, 133);
    background-color: #353b3b;
    margin-bottom: 12px;
    padding: 10px;
    box-shadow: 3px 4px 3px 2px rgba(195, 144, 113, 0.621);
}

.cardMechanic{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    gap: 15px;
}
.cardMech{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.margin_top{
    margin-top: 10px;
}
.margin_bottom{
    margin-bottom: 20px;
}

table {
    width: 650px;
    border-top: 7px solid rgb(43, 129, 17);
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
}

td {
    text-align: left;
    padding: 10px;
    border: 3px solid rgb(43, 129, 17);
}
th {
    text-align: center;
    padding: 10px;
    color: rgb(222, 222, 128);
    border: 3px solid rgb(43, 129, 17);
}

.mobile {
    display: none;
}

ul, li {
    list-style: none;
}
@media (max-width: 767px){
    body {
        max-width: 390px;
    }

    .title {
        font-size: 36px;
    }

    table {
        max-width: 316px;
        margin-left: 2px;
    }

    .font16 {
        font-size: 10px;
    }

    .font18 {
        font-size: 12px;
    }

    .font20 {
        font-size: 14px;
    }

    .cardMechanic {
        display: flex;
        flex-direction: column;
        width: 180px;
        gap: 2px;
        margin-left: 26px;
    }

    .mobile {
        display: block;
    }

    .note {
        display: none;
    }

    .garageIcon{
        width: 40px;
        height: 40px;
    }

    .serviceIcon{
        width: 40px;
        height: 40px;
    }

    .infoIcon{
        width: 40px;
        height: 40px;
    }

    .newsCard {
        padding: 5px;
    }
    ul {
        padding-inline-start: 0;
    }
}
